@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

@import 'variaveis.scss';
@import 'components.scss';
@import 'Header_Site.scss';
@import 'Section_CalculeSuaEconomia.scss';
@import 'Section_Vantagens.scss';
@import 'Section_Solicitar_Proposta.scss';
@import 'Section_Duvidas.scss';
@import 'Footer_Site.scss';
@import 'Modal_SaibaMais.scss';

a, button{
    &:hover{
        @extend %Hover;
    }
}

.title{
    color: $Branco;
    font-weight: 100;
    font-size: 50px;
    padding: 10px 0 50px;
}

.subtitle{
    color: $Branco;
    font-weight: 100;
    line-height: 15px;
    opacity: .5;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
}


.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}

.Btn_Default{
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 20px 0;
    border-radius: 0px 25px 25px 25px;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    width: 215px;
    outline: none;
    cursor: pointer;
    @extend %Hover;
    &:hover{
        box-shadow: -15px 20px 28px -15px #fff;
    }
}

@keyframes rotateEstrela{
    100%  {transform: rotate(550deg);}
}

@keyframes textoAnimado{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@media only screen and (max-width: 1024px){
    .container{
        max-width:768px;
    }
}
