.Section_Duvidas{
    padding: 100px 20px;
    .container{
        h3{
            color: #565757;
            font-weight: 300;
            text-align: left;
            padding: 0 0 40px 10px;
            font-size: 40px;
            max-width: 370px;
            margin: 0 auto 0 0;
            animation: textoAnimado 4s steps(40) 1s normal both;
            white-space: nowrap;
            overflow: hidden;
        }
        .Section_Duvidas_Box{
            max-width: 1110px;
            width: 100%;
            flex-direction: column;
            .Section_Duvidas_Box_Item{
                justify-content: space-between;
                width: 100%;
                background-color: #EFEFEF;
                font-weight: 400;
                font-size: 18px;
                padding: 34px 39px 31px 38px;
                border-radius: 0px 25px 25px 25px;
                margin: 0 0 10px 0;
                flex-wrap: wrap;
                cursor: pointer;
                h4{
                    font-size: 18px;
                    font-weight: 400;
                }
                p{
                    width: 100%;
                    padding: 30px 0 0 0;
                    text-align: left;
                    color: #737272;
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width:768px){
    .Section_Duvidas{
        .container{
            h3{
                font-size: 30px;
                text-align: center;
                margin: 0 auto;
            }
            .Section_Duvidas_Box{
                .Section_Duvidas_Box_Item{
                    flex-direction: column;
                    width: 80%;
                    border-radius: 25px 25px 25px 25px;
                    h4{
                        padding: 0 0 30px 0;
                    }
                    i{
                        font-size: 42px;
                    }
                    .OpenText{
                        text-align: center;
                    }
                }
            } 
        } 
    } 
}