.Section_Beneficios{
    padding: 50px 20px;
    background-color: #cccccc2e;
    position: relative;
    display: flex;
    flex-direction: row;
    .container{
        .Section_Beneficios_Title{
            position: relative;
            max-width: 330px;
            display: inline-block;
            h2{
                font-size: 50px;
                margin: 0;
                font-weight: 900;
                color: #b5b5b5;
                text-transform: uppercase;
                text-align: right;
            }        
            h5{
                margin: 0;
                font-size: 22px;
                font-weight: 700;
                color: #565656;
                text-align: right;
                line-height: 5px;
            }
            &:before{
                content: "";
                position: absolute;
                bottom: -40px;
                left: 0;
                border: 1px solid #f3b316;
                width: 100%;
                border-style: dashed;
            }
        }
        .Section_Group{
            justify-content: space-between;
            position: relative;
            .Section_Beneficios_Content{
                p{
                    font-size: 22px;
                    max-width: 920px;
                    font-weight: 400;
                    padding: 100px 0 50px;
                    color: #525252;
                }
                .Section_Beneficios_Parceiros{
                    align-items: center;
                    justify-content: center;
                    max-width: 960px;
                    grid-template-columns: repeat(7, 120px);
                    grid-gap: 20px;
                    a{
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: scale-down;
                            @extend %Hover;
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                    }
                }
                .Section_Beneficios_Parceiros_Last{
                    grid-template-columns: repeat(8, 100px);
                }
            }
        }
    }
}

.Fale_Conosco{
    position: sticky;
    top: 16px;
    right: 16px;
    height: fit-content;
    max-width: 90%;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 6px 20px #d8d8d8;
    .Fale_Conosco_Box{
        width: calc(100% - 48px);
        padding: 56px 24px 24px 24px;
        .Fale_Conosco_Title{
            flex-direction: column;
            text-align: center;
            h3{
                width: 100%;
                margin: 0;
                padding: 10px 0;
                background-color: #fda853;
                color: #fff;
                font-size: 22px;
                position: absolute;
                top: 0;
                left: 0;
            }
            h4{
                margin: 16px 0px 8px 0px;
                font-weight: 700;
                font-size: 16px;
            }
            p{
                font-size: 14px;
                line-height: 20px;
                color: #565656;
                span{
                    font-weight: 600;
                    color: #efb700;
                }
            }
        }
        .Fale_Conosco_Logotipos_Item{
            justify-content: space-between;
            a{
                @extend %Hover;
                i{
                    color: #b5b5b5;
                    font-size: 32px;
                    -webkit-transition: .2s ease-in;
                    -moz-transition: .2s ease-in;
                    -o-transition: .2s ease-in;
                    transition: .2s ease-in;
                    &:hover{
                        color: #f3b316;
                    }
                }
            }
        }
        .Fale_Conosco_Logotipos_Item_Btn{
            a{
                width: 100%;
                justify-content: center;
                margin: 0 auto;
                background-color: #fda853;
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
                border-radius: 5px;
                @extend %Hover;
                &:hover{
                    background-color: #25d366;
                }
                i{
                    font-size: 20px;
                    margin-right: 6px;
                }
                p{
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }
}

@media only screen and (max-width: 1280px){
    .Section_Beneficios{
        .container{
            .Section_Group{
                .Section_Beneficios_Content{
                    p{
                        max-width: 690px;
                    }
                    .Section_Beneficios_Parceiros{
                        grid-template-columns: repeat(4,120px);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 980px){
    .Section_Beneficios{
        .container{
            .Section_Group{
                .Section_Beneficios_Content{
                    p{
                        max-width: 460px;
                    }
                    .Section_Beneficios_Parceiros{
                        grid-template-columns: repeat(3,120px);
                    }
                }
            }
            
        }
        flex-direction: column;
        .Fale_Conosco{
            width: 80%;
            max-width: 100%;
            margin: 64px auto 0;
            .Fale_Conosco_Box{
                .Fale_Conosco_Logotipos_Item{
                    max-width: 300px;
                    margin: 20px auto 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .Section_Beneficios{
        .container{
            .Section_Beneficios_Title{
                width: 100%;
                max-width: 768px;
                h2, h5{
                    text-align: center;
                }
                h5{
                    line-height: normal;
                }
            }
            .Section_Group{
                flex-direction: column;
                .Section_Beneficios_Content{
                    p{
                        text-align: center;
                        max-width: 768px;
                        width: 100%;
                        font-size: 20px;
                    }
                    .Section_Beneficios_Parceiros{
                        max-width: 768px;
                        width: 100%;
                        grid-template-columns: repeat(4,100px);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 520px){
    .Section_Beneficios{
        .container{
            .Section_Group{
                .Section_Beneficios_Content{
                    .Section_Beneficios_Parceiros{
                        max-width: 768px;
                        width: 100%;
                        grid-template-columns: repeat(3,100px);
                    }
                }
            }
        }
    }
}