
.Section_CalculeSuaEconomia{
    background-color: #2ad18a;
    .Bg_Color{
        height: 200px;
    }
    .container{
        text-align: center;
        h5{
            opacity: 0.9;
        }
        h3{
            font-size: 40px;
        }
        .Section_CalculeSuaEconomia_Form{
            max-width: 993px;
            width: 100%;
            justify-content: space-between;
            margin: 0 auto;
            flex-wrap: wrap;
            .Section_CalculeSuaEconomia_Form_Campos{
                flex-direction: column;
                width: 100%;
                label{
                    font-weight: 600;
                    opacity: 1;
                    letter-spacing: 2px;
                    width: 100%;
                    text-align: left;
                    padding: 0 0 6px 6px;
                }
                input{
                    background-color: #55daa1;
                    border: 1px solid #55daa1;
                    outline: 0;
                    width: 100%;
                    height: 60px;
                    color: #fff;
                    border-radius: 3px;
                    padding: 0px 10px;
                    font-size: 16px;
                    @extend %Hover;
                    &:hover{
                        background-color: #16a78a;
                        border: 1px solid #16a78a;
                    }
                }
            }
            .Campo_UltimaConta{
                max-width: 183px;
            }
            .Campo_Nome{
                max-width: 252px;
            }
            .Campo_Email{
                max-width: 306px;
            }
            .Campo_Telefone{
                max-width: 210px;
            }
            button{
                margin: 80px auto 80px;
            }
        }
    }
}

